/*font-family: 'Lobster', cursive;*/
/*font-family: 'Hind', sans-serif;*/

/*--------Global---------------*/

body {
    margin: 0px;
    font-family: 'Hind', sans-serif;
}



header, .pay-prompt {
    margin-top: 0;
    background-color: #FA4D3A;
    color: white;
    text-align: center;
}


h1.title {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    font-family: 'Lobster', cursive;
    font-size: 100px;
}

h2 {
    font-size: 30px;
    margin-bottom: 0px
}

code {
    background: #ffe3e1;
    font-size: 14px;
    color: #FA4D3A;
}


.white {
    color: white;
}

.red {
    color: #FA4D3A;
}

a {
    color: #FA4D3A;
}

.header-accent-h2 {
    height: 10px;
    width: 75px;
    margin-top: 20px;
    border-bottom: 3px solid #FA4D3A;
    display: inline-block;
}



/*--------Button Behaviours---------------*/
button:hover {
    background: white;
    color: #FA4D3A;
}

.fancy-button {
    height: 65px;
    width: 200px;
    background: #FA4D3A;
    border: 2px solid white;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/*.button-anchor {*/
    /*font-size: 20px;*/
    /*padding: 23px 12px 23px 12px;*/
    /*font-weight: bold;*/
    /*text-decoration: none;*/
    /*color: white;*/
    /*position: relative;*/
/*}*/

/*.button-anchor:hover {*/
    /*color: #FA4D3A;*/
/*}*/



/*--------Header---------------*/

.login {
    font-size: 25px;
    margin: 0;
    padding: 5px 10px;

    position: absolute;
    text-decoration: none;
    font-weight: bold;
    background: #FF6B64;

    right: 50px;
    top: 20px;

}

header a {
    color: white;
    padding: 10px 0px 10px 0;
}

header a:hover {
    color: whitesmoke;
}

.header-accent {
    height: 10px;
    width: 100px;
    margin-top: 20px;
    border-bottom: 5px solid white;
    display: inline-block;
}


/*--------Main---------------*/

.video {
    margin-left: 0;
    padding-left: 0;
}



.container {
    width: 670px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    box-sizing: border-box;

}


.feature-sec {
    height: 250px;
    width: 200px;
    margin: 20px 10px;
    position: relative;
    float: left;
}

.feature-sec h3 {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;
}

.feature-sec:nth-child(4){

    clear: left;
}

.pay-prompt {
    margin-top: 20px;
    clear: left;
}


/*--------Pay---------------*/

.pay-header {

    padding-top: 20px;
}
.header-accent-h2 {
    padding-top: 0;
    margin-top: 0;
}

.ender-para{
    padding-bottom: 30px;
}


/*--------Footer---------------*/

footer {
    text-align: center;
}